.mtk-header {
  height: 64px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  background: #fff;
  transition: background 0.3s, color 0.3s;

  &.dark { background: #212121; color: #f5f5f5; }

  .mtk-logo img { height: 40px; }

  .mtk-right {
    display: flex;
    align-items: center;

    .mtk-menu {
      display: flex;

      .mtk-menu-item {
        position: relative; /* Important for dropdown positioning */
        margin-left: 1.5rem;

        a { text-decoration: none; color: inherit; padding: 0.5rem 0; display: inline-block; }

        .dropdown-menu {
          display: none;
          position: absolute;
          top: 100%; /* below the menu item */
          left: 0;
          background: #fff;
          min-width: 150px;
          padding: 0.5rem 0;
          border-radius: 8px;
          box-shadow: 0 4px 6px rgba(0,0,0,0.1);
          z-index: 100;
        }

        &.show-dropdown .dropdown-menu {
          display: block;
        }

        .dropdown-item {
          padding: 0.5rem 1rem;
          cursor: pointer;
          &:hover { background: #e0e0e0; }
        }
      }
    }

    .mtk-buttons { display: flex; align-items: center; margin-left: 1.5rem; }
  }
}
