.mtk-header {
  height: 64px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: background 0.3s, color 0.3s; }
  .mtk-header.dark {
    background: #212121;
    color: #f5f5f5; }
  .mtk-header .mtk-logo img {
    height: 40px; }
  .mtk-header .mtk-right {
    display: flex;
    align-items: center; }
    .mtk-header .mtk-right .mtk-menu {
      display: flex; }
      .mtk-header .mtk-right .mtk-menu .mtk-menu-item {
        position: relative;
        /* Important for dropdown positioning */
        margin-left: 1.5rem; }
        .mtk-header .mtk-right .mtk-menu .mtk-menu-item a {
          text-decoration: none;
          color: inherit;
          padding: 0.5rem 0;
          display: inline-block; }
        .mtk-header .mtk-right .mtk-menu .mtk-menu-item .dropdown-menu {
          display: none;
          position: absolute;
          top: 100%;
          /* below the menu item */
          left: 0;
          background: #fff;
          min-width: 150px;
          padding: 0.5rem 0;
          border-radius: 8px;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          z-index: 100; }
        .mtk-header .mtk-right .mtk-menu .mtk-menu-item.show-dropdown .dropdown-menu {
          display: block; }
        .mtk-header .mtk-right .mtk-menu .mtk-menu-item .dropdown-item {
          padding: 0.5rem 1rem;
          cursor: pointer; }
          .mtk-header .mtk-right .mtk-menu .mtk-menu-item .dropdown-item:hover {
            background: #e0e0e0; }
    .mtk-header .mtk-right .mtk-buttons {
      display: flex;
      align-items: center;
      margin-left: 1.5rem; }
