.mtk-video {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 4px;
  overflow: hidden;

  .mtk-video-container {
    width: 100%;
    height: 100%;
    position: relative;

    .mtk-video-player {
      width: 100%;
      height: 100%;
      outline: none;
      border-radius: 4px;
      background-color: #000;
      object-fit: cover; // video fills container

      &:focus {
        box-shadow: 0 0 0 3px #3f51b5; // Material Design focus
      }
    }
  }
}
