body {
    padding: 0;
    margin-top: 90px!important;
}

#_header-1 {
    z-index: 1050;
    font-size: 18px;
    background-color: #000!important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

    a.nav-link {
	border-bottom: 2px solid transparent;
	color: #FFF;
    }

    a.nav-link.active {
	border-bottom: 2px solid gold;
	color: gold;
    }
    
    .btn {
	font-size: 18px;
	min-width: 100px;
    }

    .navbar-toggler {
	border:1px lime solid;
    }

    .navbar-brand > img {
	height: 60px!important;
    }

    .btn-outline-primary {
	min-width: 100px;

	border-color: #007bff;
	color: #007bff;
	&:hover {
	    background-color: #007bff;
	    color: #fff;
	}
    }
}
