@import "../css/nala.scss";

.nav-link.active {
  color: $color-gold !important;
}

.navbar-nav .nav-link {
  border-radius: 0 !important;
}

.navbar-nav .nav-link.active {
  border-bottom: 2px $color-gold solid !important;
}

.navbar-nav .nav-link i,
.navbar-nav .nav-link .fa,
.navbar-nav .nav-link .material-icons {
  color: $color-gold;
}
