@import "../css/nala.scss";

.nav-link.active[id="mtk-header-home"],
.nav-link.active[id="mtk-header-register"],
.nav-link.active[id="mtk-header-login"],
.nav-link.active[id="mtk-header-dashboard"],
.nav-link.active[id="mtk-header-hierarchy"] {
  color: $color-gold !important;
}

.navbar-nav .nav-link {
  border-radius: 0 !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active:hover,
.nav-link:hover {
  text-decoration: none !important;
}

.navbar-nav .nav-link.active[id="mtk-header-home"],
.navbar-nav .nav-link.active[id="mtk-header-register"],
.navbar-nav .nav-link.active[id="mtk-header-login"],
.navbar-nav .nav-link.active[id="mtk-header-dashboard"],
.navbar-nav .nav-link.active[id="mtk-header-hierarchy"] {
  border-bottom: 2px $color-gold solid !important;
}

.navbar-nav .nav-link.active[id="mtk-header-home"] i,
.navbar-nav .nav-link.active[id="mtk-header-register"] i,
.navbar-nav .nav-link.active[id="mtk-header-login"] i,
.navbar-nav .nav-link.active[id="mtk-header-dashboard"] i,
.navbar-nav .nav-link.active[id="mtk-header-hierarchy"] i,
.navbar-nav .nav-link.active[id="mtk-header-home"] .fa,
.navbar-nav .nav-link.active[id="mtk-header-register"] .fa,
.navbar-nav .nav-link.active[id="mtk-header-login"] .fa,
.navbar-nav .nav-link.active[id="mtk-header-dashboard"] .fa,
.navbar-nav .nav-link.active[id="mtk-header-hierarchy"] .fa,
.navbar-nav .nav-link.active[id="mtk-header-home"] .material-icons,
.navbar-nav .nav-link.active[id="mtk-header-register"] .material-icons,
.navbar-nav .nav-link.active[id="mtk-header-login"] .material-icons,
.navbar-nav .nav-link.active[id="mtk-header-dashboard"] .material-icons,
.navbar-nav .nav-link.active[id="mtk-header-hierarchy"] .material-icons {
  color: $color-gold;
}
