.mtk-footer {
    background: #121212;
    color: #ccc;
    padding: 1.0rem 0;
    font-size: 0.8rem;

    a {
	color: #bbb;
	text-decoration: none;

	&:hover {
	    color: #fff;
	}
    }

    .footer-brand {
	margin-bottom: 0rem;

	.brand-wrap {
	    max-width: 480px;

	    img {
		height: 40px;
		margin-bottom: 0.0rem;
	    }

	    p {
		margin: 0;
		line-height: 1.6;
	    }
	}
    }

    .footer-row-1 {
    }

    .footer-row-2 {
	border-top: 1px solid #333;
	padding-top: .5rem;
    }

    .footer-legal {

	border:1px red solid;
	line-height:1.0rem;
	padding:0;
	margin: 0;
	margin-left:10px;
	
	.legal-links {
	    list-style: none;
	    padding: 0;
	    display: flex;
	    gap: 1rem;

	    li {
		display: inline;
	    }
	}
    }

    .footer-social {
	text-align: right;

	.social-wrap {
	    display: flex;
	    justify-content: flex-end;
	    gap: 1rem;

	    .social-link {
		display: inline-flex;
		width: 36px;
		height: 36px;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background: #1f1f1f;

		&:hover {
		    background: #333;
		}
	    }
	}
    }

    @media (max-width: 768px) {
	.footer-social {
	    text-align: left;
	    margin-top: 1rem;

	    .social-wrap {
		justify-content: flex-start;
	    }
	}
    }
}
